
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="row">

     
    <div class="flex-shrink-0 p-3 bg-white col-lg-3 text-center" >
  
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-nav font-bold align-items-center rounded">
              Shirts
            </button>
           
          </li>
          <li class="mb-1">
            <button class="btn btn-nav font-bold align-items-center rounded">
                Dresses
              </button>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
              Jeans
            </button>
            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">New</a></li>
                <li><a href="#" class="link-dark rounded">Processed</a></li>
                <li><a href="#" class="link-dark rounded">Shipped</a></li>
                <li><a href="#" class="link-dark rounded">Returned</a></li>
              </ul>
            </div>
          </li>
       
          <li class="mb-1">
            <button class="btn btn-nav font-bold align-items-center rounded">
                Jackets
              </button>
           
          </li>
        </ul>
      </div>
    
      <div class="col-lg-8">
          <p>Jeans</p>
          <div class="relative">
            <img src='../../../assets/images/cover.jpg'/>

            <div class="absolute p-14 top-[1%] left-[1%] text-white">
              <p class="font-medium text-6xl">New Arrivals</p>
              <p class="text-4xl uppercase">Collection 2016</p>
              <button class="btn btn-dark py-3 px-5 uppercase">Shop Now</button>
            </div>
          </div>
          <p class="mt-3">8 items</p>
          <div class="row">
              <div class="col-md-3">
                <img src='../../../assets/images/jeans1.jpg'/>
                <p class="mt-3 mb-0">Ripped Skinny Jeans</p>
                <p class="text-black font-semibold">$44.56</p>
              </div>

              <div class="col-md-3">
                <img src='../../../assets/images/jeans1.jpg'/>
                <p class="mt-3 mb-0">Ripped Skinny Jeans</p>
                <p class="text-black font-semibold">$44.56</p>
              </div>

              <div class="col-md-3">
                <img src='../../../assets/images/jeans1.jpg'/>
                <p class="mt-3 mb-0">Ripped Skinny Jeans</p>
                <p class="text-black font-semibold">$44.56</p>
              </div>

              <div class="col-md-3">
                <img src='../../../assets/images/jeans1.jpg'/>
                <p class="mt-3 mb-0">Ripped Skinny Jeans</p>
                <p class="text-black font-semibold">$44.56</p>
              </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <img src='../../../assets/images/jeans1.jpg'/>
              <p class="mt-3 mb-0">Ripped Skinny Jeans</p>
              <p class="text-black font-semibold">$44.56</p>
            </div>

            <div class="col-md-3">
              <img src='../../../assets/images/jeans1.jpg'/>
              <p class="mt-3 mb-0">Ripped Skinny Jeans</p>
              <p class="text-black font-semibold">$44.56</p>
            </div>

            <div class="col-md-3">
              <img src='../../../assets/images/jeans1.jpg'/>
              <p class="mt-3 mb-0">Ripped Skinny Jeans</p>
              <p class="text-black font-semibold">$44.56</p>
            </div>

            <div class="col-md-3">
              <img src='../../../assets/images/jeans1.jpg'/>
              <p class="mt-3 mb-0">Ripped Skinny Jeans</p>
              <p class="text-black font-semibold">$44.56</p>
            </div>
        </div>

        <div class="bg-black text-white px-4 py-10">
          <p class="text-4xl">Subscribe</p>
          <p>To get special offers and VIP treatment:</p>
          <input type="email" class="form-control" placeholder="Enter e-mail"/>
          <button class="btn btn-danger mt-3">Subscribe</button>
        </div>
        <div class="bg-slate-200 overflow-hidden">
          <div class="row  px-3 py-20">
            <div class="col-md-4 text-center">
               <p class="text-2xl">Contact</p>
               <p class="text-sm">Questions? Go ahead.</p>
               <input type="text" class="form-control" placeholder="Name"/>
               <input type="email" class="form-control mt-2" placeholder="Email"/>
               <input type="text" class="form-control mt-2" placeholder="Subject"/>
               <input type="text" class="form-control mt-2" placeholder="Message"/>
               <div class="bg-black mt-3"> <button class="text-white">Send</button></div>
              
            </div>
 
            <div class="col-md-4 text-center">
             <p class="text-2xl">About</p>
 
             <p class="text-sm underline">About us</p>
             
             <p class="text-sm underline"> We're hiring</p>
             <p class="text-sm underline">Support</p>
             <p class="text-sm underline">Find store</p>
             <p class="text-sm underline">Shipment</p>
             <p class="text-sm underline">Payment</p>
             <p class="text-sm underline">Return</p>
             <p class="text-sm underline">Help</p>
            </div>
 
            <div class="col-md-3">
             <p class="text-2xl">Store</p>
 
             <p class="text-sm">Company Name</p>
             
             <p class="text-sm">234498756</p>
             <p class="text-sm"><fa-icon [icon]="faEnvelope"></fa-icon>&nbsp;ex@mail.com</p>
            
             <p class="text-2xl">We accept</p>
             <p class="text-sm"><fa-icon [icon]="faCreditCard"></fa-icon>&nbsp;Credit card</p>
             <p class="text-sm"><fa-icon [icon]="faCoffee"></fa-icon>&nbsp;
               Amex</p>
           </div>
         </div>

        </div>
      
         
      </div>



      <div class="col-lg-1"> </div>
    </div>
</body>
</html>




